{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title}}</title>
    <link rel = "stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>

     <pagename>
         {% block pagename %}
         <h1>{{Title}}</h1>
         {% endblock %}
     </pagename>

     <menu>
         {% block menu %}
         <h4>
             <ul>
<!--                 <li><a href="http://127.0.0.1:8000/">{{link1}}</a></li>-->
                 <li><a href="http://127.0.0.1:8000/platform/games">Игры</a></li>
                 <li><a href="http://127.0.0.1:8000/platform/shop/">Телефоны</a></li>
                 <li><a href="http://127.0.0.1:8000/platform/cart/">Корзина</a></li>
             </ul>
         </h4>
         {% endblock %}
     </menu>

     <games>
         {% block games %}
          <ul>
         <h2>{{best_games}}</h2>
             <h4>{% for game in list_games %}
                 <li>{{ game.title }} - {{ game.description }} (Стоимость: {{ game.cost }}) <button>{{buy}}</button></li>
<!--                 <li>{{ game|title }}  <button>{{buy}}</button></li>-->
                 {% endfor %}</h4>
         </ul>
         {% endblock %}


     </games>

     <content>
         {% block content %}
         <ul>
         <h2>{{best_choice}}</h2>
             <h3>{% for i in phones_lst %}
                 <li>{{ i|title }}  <button>{{buy}}</button></li>
                 {% endfor %}</h3>
         </ul>
         {% endblock %}
     </content>

</body>
</html>


<!--'''-->
<!--Цель: освоить синтаксис и инструменты DTL (Языка динамических шаблонов) на практике.-->

<!--Задача "Сила DTL":-->
<!--Смысл этой задачи заключается в проведении аналогии между применением DTL и его отсутствием в разработке.-->
<!--Подготовка:-->
<!--Для решения этой задачи, вам понадобятся шаблоны и представления из предыдущего задания.-->
<!--Все шаблоны из предыдущей задачи скопируйте в новую директорию templates/fourth_task.-->
<!--Создайте новый шаблон 'menu.html' в директории templates/fourth_task.-->
<!--Создайте приложение task4, перенесите в него представления из task3 и переназначьте пути к копиям шаблонов.-->
<!--В urls.py сделайте те же импорты представлений, что и с task3, только из task4. Маршрутизацию в urls.py менять не придётся, т.к. названия представлений остались те же. Импорты из task3 убрать.-->
<!--Подключите приложение task4 к проекту.-->
<!--Запустите сервер, у вас должны отобразится те же страницы с тем же содержимым. Если этого не произошло, проверьте все предыдущие пункты.-->
<!--Изменения в представлениях:-->
<!--В представлении где вы использовали context измените словарь следующим образом: {'first': ''Atomic Heart", 'second': "Cyberpunk 2077" } -> {'games': ['Atomic Heart", "Cyberpunk 2077"]}. Т.е. вместо передачи нескольких значений будет передаваться один единый список из этих значений.-->
<!--Изменения в шаблонах:-->
<!--В новый шаблон 'menu.html' перенесите меню выбора с главной страницы и сделайте этот шаблон родительским для остальных скопированных шаблонов. В этом шаблоне написать блоки:-->
<!--a) pagename - в который будут передаваться заголовки страниц.-->
<!--b) menu - где будут написаны пункты вашего меню. Этот блок должен оставаться неизменным в шаблонах наследниках.-->
<!--c) content - где будет располагаться контент страницы-->
<!--Остальные шаблоны будут наследоваться при помощи extends от 'menu.html' и меняться будет только заголовок страницы и содержание, меню всегда будет одно и то же.-->
<!--В шаблоне, где используется context создавайте список при помощи цикла for.-->
<!--Сам шаблон 'menu.html' самостоятельно не используется ни в одном шаблоне.-->
<!--'''-->